@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(200px, 350px));
  align-items: center;
  justify-content: center;
  gap: 12px;
}




.glowing-ring {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Size of the glowing ring */
  height: 300px; /* Size of the glowing ring */
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 0, 255, 0.7) 0%, rgba(22, 39, 134, 0.6) 40%, rgba(22, 39, 134, 0.5) 70%, rgba(255, 255, 0, 0.4) 100%);
  box-shadow: 0 0 50px rgba(24, 32, 79,0.8), 0 0 100px rgba(0, 255, 255, 0.8), 0 0 150px rgba(24, 32, 79,0.8);
  animation: glowing 1.5s infinite alternate;
}

.image {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 50px rgba(255, 0, 255, 0.8), 0 0 100px  rgb(18,32,83,0.8), 0 0 150px #31c7ffcc;
  }
  100% {
    box-shadow: 0 0 100px rgba(255, 0, 255, 1), 0 0 150px  rgb(18,32,83,1), 0 0 200px rgba(49,199,255,1);
  }
}



